Schéma v1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <ref name="title"/>
            <ref name="author"/>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <empty/>
            </element>
            <element name="respStmt">
              <element name="resp">
                <text/>
              </element>
              <element name="name">
                <text/>
              </element>
            </element>
          </element>
          <element name="publicationStmt">
            <ref name="p"/>
          </element>
          <element name="sourceDesc">
            <element name="bibl">
              <ref name="title"/>
              <ref name="author"/>
              <element name="publisher">
                <text/>
              </element>
              <element name="series">
                <text/>
              </element>
              <element name="editor">
                <attribute name="role">
                  <data type="NCName"/>
                </attribute>
                <text/>
              </element>
              <element name="ptr">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
              </element>
              <ref name="date"/>
              <ref name="note"/>
            </element>
          </element>
        </element>
      </element>
      <element name="text">
        <element name="body">
          <optional>
            <element name="head">
              <ref name="seg"/>
            </element>
          </optional>
          <element name="list">
            <oneOrMore>
              <element name="item">
                <zeroOrMore>
                  <ref name="persName"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="roleName"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="orgName"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="eventName"/>
                </zeroOrMore>
                <optional>
                  <ref name="term"/>
                </optional>
              </element>
            </oneOrMore>
          </element>
          <oneOrMore>
            <ref name="p"/>
          </oneOrMore>
        </element>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="addName"/>
          <ref name="eventName"/>
          <ref name="note"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <optional>
        <attribute name="corresp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="seg"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="when">
        <data type="NMTOKEN"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="eventName"/>
          <ref name="roleName"/>
          <ref name="w"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="seg">
    <element name="seg">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="addName"/>
          <ref name="date"/>
          <ref name="eventName"/>
          <ref name="interp"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="roleName"/>
          <ref name="seg"/>
          <ref name="w"/>
          <element name="hi">
            <attribute name="n">
              <data type="integer"/>
            </attribute>
            <text/>
          </element>
          <element name="quote">
            <optional>
              <attribute name="cert">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="corresp"/>
            </optional>
            <optional>
              <attribute name="type">
                <data type="NCName"/>
              </attribute>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="w"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="said">
            <optional>
              <attribute name="aloud">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="corresp"/>
            </optional>
            <optional>
              <attribute name="direct">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="toWhom"/>
            </optional>
            <optional>
              <attribute name="who"/>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="addName"/>
                <ref name="note"/>
                <ref name="orgName"/>
                <ref name="persName"/>
                <ref name="roleName"/>
                <ref name="term"/>
                <ref name="w"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="addName"/>
          <ref name="w"/>
          <element name="forename">
            <optional>
              <attribute name="corresp"/>
            </optional>
            <optional>
              <attribute name="type">
                <data type="NCName"/>
              </attribute>
            </optional>
            <data type="NCName"/>
          </element>
          <element name="surname">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="orgName">
    <element name="orgName">
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="nymRef"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="roleName"/>
          <ref name="w"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="eventName">
    <element name="eventName">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="nymRef">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="orgName"/>
          <ref name="persName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="term">
    <element name="term">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="addName">
    <element name="addName">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="interp"/>
          <ref name="orgName"/>
          <ref name="w"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="roleName">
    <element name="roleName">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="w"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="w">
    <element name="w">
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="msd">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="pos">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="w"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="interp">
    <element name="interp">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="subtype">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <text/>
    </element>
  </define>
</grammar>
