Schéma v1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:xi="http://www.w3.org/2001/XInclude">
  <start>
    <element name="TEI">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <ref name="title"/>
            <ref name="author"/>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <empty/>
            </element>
            <element name="respStmt">
              <element name="resp">
                <text/>
              </element>
              <element name="name">
                <text/>
              </element>
            </element>
          </element>
          <element name="publicationStmt">
            <ref name="p"/>
          </element>
          <element name="sourceDesc">
            <element name="bibl">
              <ref name="title"/>
              <ref name="author"/>
              <element name="publisher">
                <text/>
              </element>
              <element name="series">
                <text/>
              </element>
              <element name="ptr">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
              </element>
              <element name="date">
                <optional>
                  <attribute name="type">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="when">
                  <data type="date"/>
                </attribute>
              </element>
              <ref name="note"/>
            </element>
          </element>
        </element>
      </element>
      <element name="text">
        <element name="body">
          <optional>
            <element name="include">
              <attribute name="href">
                <data type="anyURI"/>
              </attribute>
            </element>
          </optional>
          <optional>
            <element name="list">
              <oneOrMore>
                <element name="item">
                  <choice>
                    <ref name="eventName"/>
                    <ref name="orgName"/>
                    <ref name="roleName"/>
                    <ref name="persName"/>
                  </choice>
                </element>
              </oneOrMore>
            </element>
          </optional>
          <oneOrMore>
            <ref name="p"/>
          </oneOrMore>
        </element>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <oneOrMore>
        <ref name="s"/>
      </oneOrMore>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <optional>
        <attribute name="corresp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="s"/>
        </choice>
      </oneOrMore>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="s"/>
          <ref name="hi"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="s">
    <element name="s">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="addName"/>
          <ref name="eventName"/>
          <ref name="interp"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="roleName"/>
          <ref name="said"/>
          <ref name="seg"/>
          <ref name="w"/>
          <ref name="hi"/>
          <ref name="quote"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="seg">
    <element name="seg">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="addName"/>
          <ref name="eventName"/>
          <ref name="interp"/>
          <ref name="note"/>
          <ref name="orgName"/>
          <ref name="persName"/>
          <ref name="roleName"/>
          <ref name="seg"/>
          <ref name="w"/>
        </choice>
      </oneOrMore>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="pos">
          <choice>
            <value>NOM</value>
            <value>ADJ</value>
            <value>EXP</value>
            <value>V</value>
            <value>PRONOUN</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="addName"/>
            <ref name="eventName"/>
            <ref name="orgName"/>
            <ref name="roleName"/>
            <ref name="addName"/>
            <ref name="w"/>
          </choice>
        </oneOrMore>
      </optional>
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>judicial</value>
            <value>gouvernment</value>
            <value>political</value>
            <value>social</value>
            <value>proche</value>
            <value>historical</value>
            <value>police</value>
            <value>humanitarian</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>

    </element>
  </define>
  <define name="orgName">
    <element name="orgName">
      <oneOrMore>
        <optional>
          <choice>
            <text/>
            <ref name="addName"/>
            <ref name="eventName"/>
            <ref name="persName"/>
            <ref name="roleName"/>
            <ref name="w"/>
          </choice>
        </optional>
      </oneOrMore>
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>judicial</value>
            <value>gouvernment</value>
            <value>political</value>
            <value>social</value>
            <value>proche</value>
            <value>historical</value>
            <value>police</value>
            <value>humanitarian</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="nymRef">
          <choice>
            <value>parti</value>
            <value>union</value>
            <value>ONG</value>
            <value>communauté</value>
            <data type="NCName"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="eventName">
    <element name="eventName">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="w"/>
          <ref name="eventName"/>
          <ref name="roleName"/>
          <ref name="orgName"/>
          <ref name="persName"/>
        </choice>
      </oneOrMore>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="nymRef">
          <choice>
            <value>manifestation</value>
            <value>GAD</value>
            <data type="NCName"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="addName">
    <element name="addName">
      <optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="eventName"/>
            <ref name="orgName"/>
            <ref name="persName"/>
            <ref name="roleName"/>
            <ref name="w"/>
          </choice>
        </oneOrMore>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>nickName</value>
            <data type="NCName"/>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="roleName">
    <element name="roleName">
      <optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="addName"/>
            <ref name="eventName"/>
            <ref name="orgName"/>
            <ref name="persName"/>
            <ref name="w"/>
          </choice>
        </oneOrMore>
      </optional>
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="type">
          <choice>
            <value>judicial</value>
            <value>gouvernment</value>
            <value>political</value>
            <value>social</value>
            <value>proche</value>
            <value>historical</value>
            <value>police</value>
            <value>humanitarian</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="nymRef">
          <choice>
            <value>sympathisant</value>
            <value>adhérent</value>
            <value>candidat</value>
            <value>elu</value>
            <value>magistrat</value>
            <value>président</value>
            <value>parquet</value>
            <value>responsable</value>
            <value>avocat</value>
            <value>juge</value>
            <value>race_sociale</value>
            <value>groupe</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="w">
    <element name="w">
      <optional>
        <attribute name="ana">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="msd">
          <choice>
            <value>Pass</value>
            <value>Act</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="n">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="pos">
          <choice>
            <value>NOM</value>
            <value>ADJ</value>
            <value>EXP</value>
            <value>V</value>
            <value>PRONOUN</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="said">
    <element name="said">
      <optional>
        <attribute name="aloud">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="direct">
          <choice>
            <value>true</value>
            <value>false</value>
            <value>inapplicable</value>
            <value>unknown</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="toWhom"/>
      </optional>
      <optional>
        <attribute name="who"/>
      </optional>
      <optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="addName"/>
            <ref name="note"/>
            <ref name="orgName"/>
            <ref name="persName"/>
            <ref name="eventName"/>
            <ref name="seg"/>
            <ref name="roleName"/>
            <ref name="w"/>
          </choice>
        </oneOrMore>
      </optional>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="source">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cert">
          <choice>
            <value>unknown</value>
            <value>low</value>
            <value>medium</value>
            <value>high</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="addName"/>
            <ref name="note"/>
            <ref name="orgName"/>
            <ref name="persName"/>
            <ref name="eventName"/>
            <ref name="seg"/>
            <ref name="roleName"/>
            <ref name="w"/>
          </choice>
        </oneOrMore>
      </optional>
    </element>
  </define>
  <define name="interp">
    <element name="interp">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <attribute name="type">
        <choice>
          <value>COMMENTARY</value>
          <value>IRONY</value>
          <value>SARCASM</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>

</grammar>
